;	b.cfg
;	Configuration file for the basic instruction set

;	PART 1 (mnemonics in opcode order)

ld	1	; mnemonic and number of operands for opcode 0
add	1	; mnemonic and number of operands for opcode 1
st	1	; mnemonic and number of operands for opcode 2
sub	1	; mnemonic and number of operands for opcode 3
shll	1	; mnemonic and number of operands for opcode 4
div	1	; mnemonic and number of operands for opcode 5
shrl	1	; mnemonic and number of operands for opcode 6
?
addc	1	; mnemonic and number of operands for opcode 8
?
flip	0	; mnemonic and number of operands for opcode A
?
mult	1	; mnemonic and number of operands for opcode C
?
jn		; mnemonic and number of operands for opcode E

%%	; PART 2 (reg names in number order starting with reg 6)

pc	; register 6
?	; not using register 7
ac	; register 8
ir	; register 9
dc	; register A
	; remaning regs can be referenced by their hex numbers

%%	; PART 3 (special addresses and numbers)

0	; horizontal start fetch address (hex)
0	; vertical start fetch address (hex)

0	; horizontal increment pc address (hex)
3	; vertical increment pc address (hex)

1	; horizontal read machine instructions address (hex)
1	; vertical read machine instruction address (hex)

6	; pc register number (hex)
0	; sp register number (hex)
8	; I/O register number (hex)

6	; machine-level register numbers (hex)
8







